.pg-quantity {
  padding-bottom: 12px;
  border-bottom: 2px solid #e6e6e6;
  width: 218px;
 
}
.input-width{
  width: 191px;
}
.printing-checks {
  padding-top: 30px;
}

.page-format-contain {
  display: flex;
  align-items: flex-start;
  gap: 30px;

}
.pg-quantity-form {
  border: none !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #3c3c3b !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  /* display: inline !important; */

  width: 191px !important;
}
.personalizzato-form {
  border: none !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #3c3c3b !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  /* display: inline !important; */

  /* width: 218px !important; */
}

.pg-quantity-form::placeholder,
.personalizzato-form::placeholder {
  color: #d0d0d0 !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.form-envelope option {
  color: #8a8a89 !important;
  text-align: start;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}

.custom-drop {
  background-color: transparent !important;
  color: black !important;
  border-radius: 4px !important;
  padding: 12px 20px !important;
  border: 1px solid #d6d6d6 !important;
  width: 100% !important;
  color: #8a8a89 !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.custom-drop-border {
  border-radius: 4px !important;
  border: 1px solid #afca0b !important;
}
.dropdown-toggle::after {
  background-repeat: no-repeat !important;
  border: none !important;
  content: url("/public/Images/Step1/arrow-down.svg") !important;
  vertical-align: middle !important;
}

.dropdown-toggle {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  /* width: 100% !important; */
  min-width: 555px !important;
}
.dropdown-menu.show {
  width: 100% !important;
  color: #8a8a89;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dropdown-item {
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8a8a89 !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #d6d6d6 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #d6d6d6 !important;
  color: #8a8a89;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media(max-width:1200px)
{
  .page-format-contain {
    flex-wrap: wrap;
  }
}
@media (max-width: 990px) {
  .col-lhs {
    height: calc(100vh - 78px) !important;
    overflow: auto !important;
  }
  .col-rhs-inner {
    height: calc(100vh - 280px) !important;
    overflow: auto !important;
  }
}
@media (max-width: 992px) {
  .page-format-contain {
    flex-wrap: wrap;
  }
  .pg-quantity-form {
    width: 100% !important;
  }
  .dropdown-toggle {
    min-width: 0% !important;
    width: 100% !important;
  }
  .size-contain {
    width: 100%;
  }
  .pg-quantity {
    width: 100%;
  }
  .form-width{
    width: 100% !important;
    padding-right: 10px;
  }
  
}

@media (max-width: 768px) {
  .personalizzato-form::placeholder{
    font-size: 28px !important;
  }
  .size-contain {
    width: 100%;
  }

  .form-envelope option {
    font-size: 16px !important;
  }
  .pg-quantity-form::placeholder {
    font-size: 28px !important;
  }
  .pg-quantity-form {
    font-size: 28px !important;
  }
  .measurement-drop-contain {
    flex-direction: column;
  }
 
  .form-group {
    width: 100%;
    /* padding-right: 10px; */
  }

  .dropdown-item:hover {
    background-color: #d6d6d6 !important;
  }
  /* a:hover {
    --bs-link-color-rgb:  red !important;
} */
}
